<%= form_with(model: product, local: true) do |form| %>
<% if product.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

  <ul>
    <% product.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= form.label :name %>
  <%= form.text_field :name, class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :money %>
  <%= form.text_field :money, class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :start_at %>
  <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker7"
      name="product[start_at]" />
    <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
    </div>
  </div>
</div>
</div>

<div class="form-group">
  <%= form.label :end_at %>
  <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker8" name="product[end_at]" />
    <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :currency %>
    <select name="product[currency]" class="form-control js-example-basic-single">
      <option value="NTD">NTD</option>
      <option value="USD">USD</option>
      <option value="HKD">HKD</option>
    </select>
  </div>

  <div class="form-group">
    <%= form.label :tag_list %>
    <%# 這邊要把改成從資料庫撈出來  option_for_select%>

    <select class="form-control js-example-basic-multiple" name="product[tag_list][]" multiple="multiple">
    <%= options_for_select(product.tag_list, product.tag_list)%>
      <%# <option value="tag1">tag1</option>
      <option value="tag2">tag2</option>
      <option value="tag3">tag3</option> %>
    </select>

  </div>
  <div class="actions">
    <%= form.submit 'submit', class: 'btn btn-primary' %>
  </div>
  <% end %>

<script type="text/javascript">
  document.addEventListener('turbolinks:load',function() {

    $(function () {

        $('#datetimepicker7').datetimepicker({
          format: 'YYYY/MM/DD'
        });
        $('#datetimepicker8').datetimepicker({
          format: 'YYYY/MM/DD',
          useCurrent: false
        });
        $("#datetimepicker7").on("change.datetimepicker", function (e) {
            $('#datetimepicker8').datetimepicker('minDate', e.date);
        });
        $("#datetimepicker8").on("change.datetimepicker", function (e) {
            $('#datetimepicker7').datetimepicker('maxDate', e.date);
        });
    });

    $('.btn').click(function (e) {
      e.preventDefault();
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: 'btn btn-success',
          cancelButton: 'btn btn-danger'
        },
        buttonsStyling: false
      })

      swalWithBootstrapButtons.fire({
        title: 'Are you sure?',
        text: "確定新增商品嗎",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: '對，請新增！',
        cancelButtonText: '讓我再想一下...',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          swalWithBootstrapButtons.fire(
            '新增成功',
            '成功新增商品',
            'success'
          ).then((result) => {
            $('form').submit()
          })
        } else if (
          /* Read more about handling dismissals below */
          result.dismiss === Swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons.fire(
            'Cancelled',
            '已取消！',
            'error'
          )
        }
      })
    });


    $(document).ready(function () {
      $('.js-example-basic-single').select2();
    });

    $(document).ready(function () {
      $('.js-example-basic-multiple').select2({
        tags: true,
      });
    });
  })
  </script>
